html,body {
    margin: 0 auto;
    background-attachment: fixed;
    backface-visibility: hidden;
    /* background-image: "../../images/flowers1.jpg";
    background-size: cover; */
}

body {
    background-color: #fff5f9;
    font-family: 'Spartan';
    background-image: url("../../images/rpt.jpg");
    background-repeat: repeat;
    background-size: cover;
    background-size: 75%;
}

.left-right-boxes {
    padding-bottom: 64px;
    overflow: hidden;
    position: relative;
}

.left-right-boxes::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;

    /* This is the important part */
    will-change: transform; 

}

nav {
    /* padding: 10px; */
}

.nav-wrapper {
    background-color: #ffeaf3;
}

a {
    color: rgb(51, 51, 51) !important;
    cursor: default;

}

h2 {
    margin-top: -10px !important;
}

.sectionsFormat {
    background-color: #fffff0;
}

.menu-link:hover {
    background-color: rgb(243, 190, 223) !important;
    color: rgb(252, 250, 239) !important;
    cursor: default !important;
}

.brand-logo {
    font-family: 'Satisfy', cursive;
    background-color: #f5eef200 !important;
}

.brand-logo:hover {
    font-family: 'Satisfy', sans-serif;
    background-color: #f5eef200 !important;
    color: #505050 !important;
    text-shadow: 3px 3px #d47ab663;
    cursor: default !important;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.details {
    margin-top: -50px;
    font-size: 60px;
}

.btn {
    background-color: #faf0f4 !important;
}

h3 {
    color: rgb(75, 75, 75);
    /* font-family: 'Great Vibes'; */
}

img {
    width: 1600px;
    height: auto;
}

#img1 {
    /* left: 20px; */
}

#img3 {
    top: -500px;
    left: -70px;
    width: 2000px;
}

.right {
    font-size: 32px !important
}

.left-logo {
    /* margin-top: 10px; */
    margin-left: 30px;
}

.header {
    font-family: 'Rouge Script', sans-serif;
    font-size: 120px;
    color: rgb(92, 92, 92);
    margin-bottom: 75px;
    text-shadow: 3px 3px #66666646;
    margin-top: 50px;
}

.grey-text {
    color: rgb(97, 97, 97) !important;
    font-size: medium;
}

.script-class{
    font-family: 'Sacramento';
}

.countdown {
        text-shadow: 3px 3px #91bdda46;
}

.footer-copyright {
    /* margin-bottom: -10px !important; */
    background-image: "../../images/flowers1.jpg" !important;
    padding: 5px;
}

/* PUSHPIN */

.pin-top {
  position: relative;
}

.pin-bottom {
  position: relative;
}

.pinned {
  position: fixed !important;
}

@media only screen and (max-width: 767px) {
    
    img {
        /* width: 1250px !important; */
        height: auto;
    }

    .reg {
        font-size: 32px;
    }
    
    .ws {
        width: 300px !important;
        height: auto;
    }

    #img1 {
        left: 100px;
    }

    #img2 {
        /* width: 1200px !important; */
        width: 300px !important;
        height: auto !important;
        left: -150px;
        top: 50px;
    }

    #img3 {
        top: -400px;
        left: 150px;
        height: auto;
        width: auto;
    }

    .header {
        font-size: 48px;
        margin-top: -5px;
        margin-bottom: 50px;
    }

    .details {
        margin-top: 25px;
        margin-bottom: 50px;
        font-size: 40px;
    }

    .brand-logo {
        font-size: 24px !important;
    }

    .parallax-container {
        height: 150px;
    }
}